In [9]:
import pandas as pd
import numpy as np

In [24]:
ratings_data = pd.read_csv('ml-1m/ratings.dat',sep='::',names=['userID','movieID','rating','timestamp'])

/home/parijat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [25]:
movie_data = pd.read_csv('ml-1m/movies.dat',sep='::',names=['movieId','title','genres'])

/home/parijat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [26]:
users_data = pd.read_csv('ml-1m/users.dat',sep='::',names=['userID','gender','age','occupation','zip-code'])

/home/parijat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [27]:
users_data.head()

   userID gender  age  occupation zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [28]:
ratings_data.head()

   userID  movieID  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [22]:
movie_data.head()

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [139]:
print(users_data.shape,movie_data.shape,ratings_data.shape)

(6040, 5) (3883, 5) (1000209, 4)

In [140]:
users_data['userID'].unique()

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [141]:
movie_data['movieId'].nunique()

3883

In [142]:
users_data['gender'] = users_data['gender'].apply(lambda x: 1 if x=='M' else 0)

In [143]:
movie_data['year'] = movie_data['title'].apply(lambda x:x.split(' ')[-1])

In [144]:
movie_data['year'] = movie_data['year'].apply(lambda x:np.int(x[-5:-1]))
#movie_data['dem'] = movie_data['year'].apply(lambda x:True if len(x)>4 else False)

In [146]:
movie_data['genres'] = movie_data['genres'].apply(lambda x: x.split('|'))

In [147]:
movie_data

,movieId,title,genres,year,dem
0,1,Toy Story (1995),"[Animation, Children's, Comedy]",1995,False
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]",1995,False
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",1995,False
3,4,Waiting to Exhale (1995),"[Comedy, Drama]",1995,False
4,5,Father of the Bride Part II (1995),[Comedy],1995,False
5,6,Heat (1995),"[Action, Crime, Thriller]",1995,False
6,7,Sabrina (1995),"[Comedy, Romance]",1995,False
7,8,Tom and Huck (1995),"[Adventure, Children's]",1995,False
8,9,Sudden Death (1995),[Action],1995,False
9,10,GoldenEye (1995),"[Action, Adventure, Thriller]",1995,False
10,11,"American President, The (1995)","[Comedy, Drama, Romance]",1995,False
11,12,Dracula: Dead and Loving It (1995),"[Comedy, Horror]",1995,False
12,13,Balto (1995),"[Animation, Children's]",1995,False
13,14,Nixon (1995),[Drama],1995,False
14,15,Cutthroat Island (1995),"[Action, Adventure, Romance]",1995,False
15,16,Casino (1995),"[Drama, Thriller]",1995,False
16,17,Sense and Sensibility (1995),"[Drama, Romance]",1995,False
17,18,Four Rooms (1995),[Thriller],1995,False
18,19,Ace Ventura: When Nature Calls (1995),[Comedy],1995,False
19,20,Money Train (1995),[Action],1995,False
20,21,Get Shorty (1995),"[Action, Comedy, Drama]",1995,False
21,22,Copycat (1995),"[Crime, Drama, Thriller]",1995,False
22,23,Assassins (1995),[Thriller],1995,False
23,24,Powder (1995),"[Drama, Sci-Fi]",1995,False
24,25,Leaving Las Vegas (1995),"[Drama, Romance]",1995,False
25,26,Othello (1995),[Drama],1995,False
26,27,Now and Then (1995),[Drama],1995,False
27,28,Persuasion (1995),[Romance],1995,False
28,29,"City of Lost Children, The (1995)","[Adventure, Sci-Fi]",1995,False
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,[Drama],1995,False
...,...,...,...,...,...
3853,3923,Return of the Fly (1959),"[Horror, Sci-Fi]",1959,False
3854,3924,Pajama Party (1964),[Comedy],1964,False
3855,3925,Stranger Than Paradise (1984),[Comedy],1984,False
3856,3926,Voyage to the Bottom of the Sea (1961),"[Adventure, Sci-Fi]",1961,False
3857,3927,Fantastic Voyage (1966),"[Adventure, Sci-Fi]",1966,False
3858,3928,Abbott and Costello Meet Frankenstein (1948),"[Comedy, Horror]",1948,False
3859,3929,"Bank Dick, The (1940)",[Comedy],1940,False
3860,3930,"Creature From the Black Lagoon, The (1954)",[Horror],1954,False
3861,3931,"Giant Gila Monster, The (1959)","[Horror, Sci-Fi]",1959,False
3862,3932,"Invisible Man, The (1933)","[Horror, Sci-Fi]",1933,False
3863,3933,"Killer Shrews, The (1959)","[Horror, Sci-Fi]",1959,False
3864,3934,Kronos (1957),[Sci-Fi],1957,False
3865,3935,Kronos (1973),[Horror],1973,False
3866,3936,"Phantom of the Opera, The (1943)","[Drama, Thriller]",1943,False
3867,3937,Runaway (1984),"[Sci-Fi, Thriller]",1984,False
3868,3938,"Slumber Party Massacre, The (1982)",[Horror],1982,False
3869,3939,"Slumber Party Massacre II, The (1987)",[Horror],1987,False
3870,3940,"Slumber Party Massacre III, The (1990)",[Horror],1990,False
3871,3941,Sorority House Massacre (1986),[Horror],1986,False
3872,3942,Sorority House Massacre II (1990),[Horror],1990,False
3873,3943,Bamboozled (2000),[Comedy],2000,False
3874,3944,Bootmen (2000),"[Comedy, Drama]",2000,False
3875,3945,Digimon: The Movie (2000),"[Adventure, Animation, Children's]",2000,False
3876,3946,Get Carter (2000),"[Action, Drama, Thriller]",2000,False
3877,3947,Get Carter (1971),[Thriller],1971,False
3878,3948,Meet the Parents (2000),[Comedy],2000,False
3879,3949,Requiem for a Dream (2000),[Drama],2000,False
3880,3950,Tigerland (2000),[Drama],2000,False
3881,3951,Two Family House (2000),[Drama],2000,False
3882,3952,"Contender, The (2000)","[Drama, Thriller]",2000,False

In [154]:
ratings_data['month']=ratings_data['timestamp'].apply(lambda x:pd.Timestamp(x).month)

In [156]:
ratings_data['month'].value_counts()

1    1000209
Name: month, dtype: int64

In [164]:
ratings_data['second']=ratings_data['timestamp'].apply(lambda x:pd.Timestamp(x).second)

In [165]:
ratings_data['second'].value_counts()

0    962251
1     37958
Name: second, dtype: int64

In [169]:
all_genres = {}
for i,row in movie_data.iterrows():
    
    for genre in row['genres']:
        if genre not in all_genres:
            all_genres[genre] = 1
            
movie_data = pd.concat([movie_data,pd.DataFrame(data=np.zeros((movie_data.shape[0],len(all_genres.keys()))),columns=all_genres.keys())],axis=1)

In [171]:
movie_data.shape

(3883, 23)

In [184]:
for i,row in movie_data.iterrows():
    for genre in row['genres']:
        movie_data.loc[i,genre]=1.0

In [185]:
movie_data.head()

,movieId,title,genres,year,dem,Animation,Children's,Comedy,Adventure,Fantasy,...,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1,Toy Story (1995),"[Animation, Children's, Comedy]",1995,False,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]",1995,False,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",1995,False,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),"[Comedy, Drama]",1995,False,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),[Comedy],1995,False,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0